<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>JEE7-Demo-StudentService-RS</display-name>

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<login-config>
		<realm-name>jee7-demo-realm</realm-name>
		<auth-method>BASIC</auth-method>
	</login-config>

	<security-role>
		<role-name>user</role-name>
		<role-name>manager</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Rest Facade</web-resource-name>
			<url-pattern>/rest/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>